In [118]:
import pandas as pd
import numpy as np
from sklearn.metrics import  r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import utils

In [119]:
df= pd.read_csv('adm_data.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [120]:
x=df.iloc[:,1:-1]
y=df.iloc[:,-1]

In [121]:
lab = preprocessing.LabelEncoder()
y = lab.fit_transform(y)

In [122]:
X_train, X_test, Y_train,Y_test= train_test_split(x,y,test_size=0.3,random_state=0)

In [123]:
scaler = preprocessing.StandardScaler()

In [124]:
X_train= scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

#Regresión Lineal

In [125]:
adm_rl = LinearRegression()

In [126]:
adm_rl.fit(X_train, Y_train)

LinearRegression()

In [127]:
predi_rl = adm_rl.predict(X_test)

In [128]:
print(r2_score(Y_test, predi_rl))

0.7296810987045802

#Máquina de Soporte Vectorial

In [129]:
adm_svc = SVC()
adm_svc.fit(X_train, Y_train)

SVC()

In [130]:
predi_svc= adm_svc.predict(X_test)

In [131]:
print(r2_score(Y_test, predi_svc))

0.631601877315126

#Vecinos más cercanos

In [132]:
n_neighbors = 5

adm_knn = KNeighborsClassifier(n_neighbors)
adm_knn.fit(X_train, Y_train)

KNeighborsClassifier()

In [133]:
predi_knn = adm_knn.predict(X_test)

In [134]:
print(r2_score(Y_test, predi_knn))

0.24049861970482522

#Naive Bayes

In [135]:
adm_nb = GaussianNB()

In [136]:
adm_nb.fit(X_train, Y_train)

GaussianNB()

In [137]:
predi_nb = adm_nb.predict(X_test)

In [138]:
print(r2_score(Y_test, predi_nb))

0.6665853255478649

#Árbol de decisión

In [139]:
adm_arbol=DecisionTreeClassifier(criterion='entropy', random_state=0)
adm_arbol.fit(X_train,Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [140]:
predi_arbol = adm_arbol.predict(X_test)

In [141]:
print(r2_score(Y_test, predi_arbol))

0.3702492083451928

#Resultados

In [142]:
print("Regresión Lineal:",r2_score(Y_test, predi_rl))
print("Máquina de Soporte Vectorial:",r2_score(Y_test, predi_svc))
print("Vecinos más cercanos:" ,r2_score(Y_test, predi_knn))
print("Naive Bayes:",r2_score(Y_test, predi_nb))
print("Árbol de decisión:", r2_score(Y_test, predi_arbol))

Regresión Lineal: 0.7296810987045802
Máquina de Soporte Vectorial: 0.631601877315126
Vecinos más cercanos: 0.24049861970482522
Naive Bayes: 0.6665853255478649
Árbol de decisión: 0.3702492083451928